@import "tailwindcss";

:root {
  /* Colors */
  --background: #F8FAFC;
  --foreground: #0F172A;

  --azure: #2563EB;
  --cyan: #06B6D4;

  /* Fonts (these will come from next/font) */
  --font-body: var(--font-inter);
  --font-heading: var(--font-space);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-azure: var(--azure);
  --color-cyan: var(--cyan);

  --font-sans: var(--font-body);
  --font-mono: var(--font-heading);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), monospace;
}

@keyframes film-scroll {
  to {
    transform: translateX(-50%);
  }
}